@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';

:root {
  --background: var(--color-white);
  --foreground: var(--color-neutral-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
